.idea
.settings
.project
test-output
.classpath
*.iml
*~
target
/web/src/main/frontend/node/
/web/yarn.lock
/web/node_modules/
/web/src/react-app-env.d.ts
/web/build/
/web/nodesource_setup.sh
/web/node/
/web/src/main/resources/static/built/
